#shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  border-radius: 8px;
  background: #a2acf2;
  margin-top: 100px;
}
#custom-margin {
  border: 1px solid rgb(250, 249, 249);
}
